<!doctype html>
<html lang="en">

<head>
    <title>New car</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    
    <div class="container">
        <div class="row mt-3">
            <div class="col-8">
                <h1 class="bg-info p-3 text-white rounded">
                    Put Car Up For Sale
                </h1>
                <form method="POST" action="/car/create">
                    <div class="form-group">
                        <label>
                            Price:
                        </label>
                        <input type="number" name="price" class="form-control">
                        {% for message in get_flashed_messages( category_filter = ["error_car_price"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>
                            Model:
                        </label>
                        <input type="text"  name="model" class="form-control">
                        {% for message in get_flashed_messages( category_filter = ["error_car_model"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>
                            Make:
                        </label>
                        <div>
                            <input type="text"  name="make" class="form-control">
                            {% for message in get_flashed_messages( category_filter = ["error_car_make"] ) %}
                                {{message}}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Year:
                        </label>
                        <input type="number"  name="year" class="form-control">
                        {% for message in get_flashed_messages( category_filter = ["error_car_year"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>
                            Description:
                        </label>
                        <textarea type="text" name="description" class="form-control"></textarea>
                        {% for message in get_flashed_messages( category_filter = ["error_car_description"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-info mt-2">
                        Add
                    </button>
                </form>
            </div>
            <div class="col-4 ">
                <a class="btn btn-info" href="/cars">
                    Dashboard
                </a>
                <a class="btn btn-info" href="/user/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>